<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite"> // parallel="tests" thread-count="2">
  <test thread-count="5" name="Test">
   <groups>
    <run>
      <include name="Smoke"/>
    </run>
  </groups>
    <classes>
      <class name="com.flipkart.pageexeccution.LoginPageExecution"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
